<% layout('layouts/main') -%>
    <section class="contenedor wrapper">
        <div id="main">
            <fieldset>
                <legend>DETALLES DEL EMPLEADO</legend>
                <% if (empleado) {%>
                    <form action="/api/panel/empleados/update/<%= empleado.id %>" method="post">
                        <label>Nombre</label>
                        <input type="text" name="nombre" value="<%= empleado.nombre %>"  required>
                        <label>Cedula</label>
                        <input type="text" name="cedula" value="<%= empleado.cedula %>""  required>
                        <label>E-mail</label>
                        <input type="text" name="email" value="<%= empleado.email %>"" id="" required>
                        <label>Teléfono</label>
                        <input type="number" name="telefono" value="<%= empleado.telefono %>" required>
                        <label for="">Contraseña</label>
                        <input type="password" name="password" id="">
                        <button type="submit" name="accion" value="Añadir" class="boton boton-verde enviar">Editar</button>
                        <button class="boton boton-rojo" href="/api/panel/empleados">Cancelar</button>
                    </form>

                    <% } %>


            </fieldset>
        </div>
    </section>