<% layout('layouts/main') -%>

<section class="contenedor wrapper">
    <div class="contenido-panel">
        <div class="datos-panel">
            <div class="añadir">
                <a class="boton boton-verde" href="/api/panel/empleados/agregar"><i class="fas fa-plus"></i> Añadir nuevo
                    empleado</a>
            </div>
            <div class="tabla">
                <table class="">
                    <tr>
                        <th><strong></strong></th>
                        <th><strong>Nombre</strong></th>
                        <th><strong>Cédula</strong></th>
                        <th><strong>E-mail</strong></th>
                        <th><strong>Telefono</strong></th>
                        <th><strong>Acciones</strong></th>
                    </tr>

                    <% if (data.length > 0) {%>
                        <% for (let i=0; i<data.length; i++) { %>
                            <tr>
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= data[i].nombre %>
                                </td>
                                <td>
                                    <%= data[i].cedula %>
                                </td>
                                <td>
                                    <%= data[i].email %>
                                </td>
                                <td>
                                    <%= data[i].telefono %>
                                </td>
                                <td class="accion">
                                    <a class="a-actualizar" href="/api/panel/empleados/editar/<%= data[i].id %>"><i
                                            class="fas fa-pencil-alt"></i></a>
                                    <a class="a-eliminar" href="/api/panel/empleados/delete/<%= data[i].id %>"><i
                                            class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <% } %>
                                <% }else { %>
                                    <tr>
                                        <td colspan="6">NO HAY REGISTROS</td>
                                    </tr>
                                    <% } %>
                </table>
            </div>
        </div>

    </div>
</section>