<% layout('layouts/main') -%>

<section class="contenedor wrapper">
    <h2 class="centrar-texto centrar">Pedidos</h2>
    <div class="contenido-panel">
        <div class="datos-panel">
            <div class="tabla">
                <table class="">
                    <tr>
                        <th><strong></strong></th>
                        <th><strong>Fecha</strong></th>
                        <th><strong>Usuario</strong></th>
                        <th><strong>Total</strong></th>
                        <th><strong>Accion</strong></th>
                    </tr>

                    <% if (data.length > 0) {%>
                        <% for (let i=0; i<data.length; i++) { %>
                            <tr>
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= fechas[i]%>
                                </td>
                                <td> <%= data[i]._usuario.nombre %>
                                </td>
                                <td>
                                     <%= data[i].total %> 
                                </td>
                                <td class="accion">
                                    <a class="a-actualizar" href="/api/panel/pedidos/<%= data[i].id %>">Ver Detalles</i></a>
                                </td>
                            </tr>
                            <% } %>
                                <% }else { %>
                                    <tr>
                                        <td colspan="6">NO HAY REGISTROS</td>
                                    </tr>
                                    <% } %>
                </table>
            </div>
        </div>

    </div>
</section>