<% layout('layouts/main') -%>

<section class="contenedor wrapper">
    <div class="contenido-panel">
        <div class="datos-panel">
            <div class="añadir">
                <a class="boton boton-verde" href="/api/panel/productos/agregar"><i class="fas fa-plus"></i> Añadir nuevo
                    producto</a>
            </div>
            <div class="tabla">
                <table class="">
                    <tr>
                        <th><strong></strong></th>
                        <th><strong>Producto</strong></th>
                        <th><strong>Precio</strong></th>
                        <th><strong>Imagen</strong></th>
                        <th><strong>Accion</strong></th>
                    </tr>

                    <% if (data.length > 0) {%>
                        <% for (let i=0; i<data.length; i++) { %>
                            <tr>
                                <td>
                                    <%= (i+1) %>
                                </td>
                                <td>
                                    <%= data[i].nombre %>
                                </td>
                                <td>$ <%= data[i].precio %>
                                </td>
                                <td class="centrar">
                                    <% if (data[i].foto.length != null) {%>
                                    <img src="<%= data[i].foto %>" height="50px" alt="">
                                    <% }else { %>
                                        SIN FOTO
                                    <% } %>
                                </td>
                                <td class="accion">
                                    <a class="a-actualizar" href="/api/panel/productos/editar/<%= data[i].id %>"><i
                                            class="fas fa-pencil-alt"></i></a>
                                    <a class="a-eliminar" href="/api/panel/productos/delete/<%= data[i].id %>"><i
                                            class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                            <% } %>
                                <% }else { %>
                                    <tr>
                                        <td colspan="6">NO HAY REGISTROS</td>
                                    </tr>
                                    <% } %>
                </table>
            </div>
        </div>

    </div>
</section>